.communityHighlights{
    margin: 0 auto;
    padding: 10px 30px 20px 30px;
    width: 80%;
    max-width: 900px;
    border: 1px solid var(--bg-accent-lines);
    border-radius: 30px;
    overflow: visible;
}
.communityHighlights h1{
    font-size: calc(70/1440 * 100vw);
}
.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px; 
    color: var(--font-color1-dark);
}
.carousel-item p {
    font-size: calc(16px + 10/1440 * 100vw);
    text-align: center;
    margin: 0;
}

.tempDiscussions{
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 30px;
}
/*********** DISCUSSIONS BELOW ***********/
.discussionContainer{
    margin: 0 auto 100px auto;
    padding: 10px 30px 20px 30px;
    width: 80%;
    max-width: 900px;
    border: 2.5px solid var(--bg-accent-lines);
    border-radius: 30px;
    overflow: visible;
    padding-bottom: 30px;
}
.filterBar{
    margin: 20px auto;
}
.filterBar p{
    font-size: var(--nav-font-size);
    display: inline-block;
    margin-right: 5px;
}
hr{
    margin: 30px 0;
}

.discussion{
    margin: 30px auto;
    padding: 20px 30px;
    width: 95%;
    max-width: 900px;
    border: 1px solid var(--bg-accent-lines);
    border-radius: 30px;
    overflow: visible;
    padding-bottom: 30px;
}
.discussionHeader{
    display: flex;
    justify-content: space-between;
}
.discussion h2{
    font-size: calc(var(--nav-font-size) + 10px);
    margin: 15px 0;
}
.discussion p{
    font-size: var(--nav-font-size);
}
.discussionReplies{
    text-align: right;
}