/* Animation fade in */
h1, h2, p{
    animation: fadeInAnimation ease-in-out 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        padding-left: -200px;
    }

    100% {
        opacity: 1;
        padding-left: 10px;
    }
}

.heroClass{
    padding: calc(55px + 20/1440 * 100vw);
}

.tagline{
    text-align: right;
}

.title, .subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    text-align: right;
}

.title img{
    width: calc(486/1440 * 100vw);
}
.subtitle img{
    width: calc(570/1440 * 100vw);
}