:root{
    --bg-color-beige: #F5EDE0;
    --bg-secondary-green: #D0E4CC;
    --bg-accent-lines: #4A3B2D;
    --font-color1-dark: #3E3E3E;
    --font-color2-white: #FFF7F0;
    --font-family: "Hina Mincho", serif;
    --button-color-green: #A0B09D;
    --button-color-blue: #C7E6F1;
    --button-color-pink: #FF9F97;
}

.homeGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding: 0 50px 50px 50px;
}

.homeGrid-item{
    background-color: var(--bg-secondary-green);
    padding: 15px;
    border-radius: 20px;
    width: 30vw;
    height: 25vh; /* Need to change maxheight with media query*/
    font-size: calc(10px + 48/1440 * 100vh);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.homeGrid-item img{
    width: 80%;
    height: auto;
    object-fit: contain;
}
.homeGrid-item p{
    margin-top: auto;
}